body{

    background-color: #E7E7E7;
    position: absolute;
    width: 720px;
    height: 1600px;

    font-family: 'Inter';
    font-style: normal;
}
header{
    position: absolute;
    width: 100%;
    height: 284px;
    background: linear-gradient(180deg, #00A650 45.31%, rgba(1, 166, 71, 0) 100%);

}
div{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.div1{
    top: 154px;
    left: 38px;
    position: absolute;
    width: 640px;
    height: 260px;
}
.div2{
    top: 450px;
    left: 38px;
    position: absolute;
    width: 640px;
    height: 154px;
}
.div3{
    top: 640px;
    left: 38px;
    position: absolute;
    width: 640px;
    height: 133px;
}
.boton1{
    position: absolute;
    width: 640px;
    height: 95px;

    background: #009FE3;
    border-radius: 9px;
    top: 1273px;
    left: 38px;
}
.boton2{
    position: absolute;
    width: 200px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    top: 1416px;
    left: 250px;
    color: #009FE3;
    background: none;
    border: none;
}
h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;

color: #2D2D2D;
}
h4{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #4E4E4E;

}
.t1{
    position: absolute;
width: 334px;
height: 88px;
top: 1px;
left: 30px;

}
.t2{
    position: absolute;
width: 236px;
height: 39px;
top: 100px;
left: 30px;
color: #00A650;

}
.t3{
    position: absolute;
width: 280px;
height: 34px;
top: 150px;
left: 30px;

}

.t4{
    position: absolute;
width: 106px;
height: 53px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 53px;

color: #2D2D2D;
left: 30px;
top: -5px;

}
.t5{
    position: absolute;
    left: 30px;
top: 65px;
width: 164px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #939393;

}
.t6{
    position: absolute;
    top: -5px;
    left: 146px;
width: 454px;
height: 68px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 34px;

color: #4E4E4E;

}
.logo{
    top: 24px;
    left: 30px;

position: absolute;
width: 86px;
height: 86px;

background: url(mplogo.png);
}
